<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.me.peteharris.pintinyork.feature.alertnotification">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/notification_feature">
        <dist:fusing dist:include="true" />
    </dist:module>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="uk.me.peteharris.feature.alertnotification.YorkPubApp"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver
            android:name="uk.me.peteharris.feature.alertnotification.RaceDayNotificationReceiver$OnBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="uk.me.peteharris.feature.alertnotification.RaceDayNotificationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="uk.me.peteharris.pintinyork.action.RACEDAY_ALERT"  />
            </intent-filter>
        </receiver>


        <!--- all resources referenced here, recursively, must exist in the base module not in the feature module

        <receiver android:name="uk.me.peteharris.feature.alertnotification.GoOutWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/go_out_widget_info" />

        </receiver>
-->
    </application>
</manifest>
