<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.me.peteharris.pintinyork" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >


        <activity
            android:name=".base.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:order="1"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="isitaraceday.peteharris.me.uk"
                    android:pathPattern="/.*"
                    android:scheme="http" />
                <data
                    android:host="isitaraceday.peteharris.me.uk"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".base.RaceDaysActivity"
            android:parentActivityName=".base.MainActivity"
            android:label="@string/title_activity_race_days" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".base.MainActivity" />
        </activity>

    </application>
</manifest>
